* {
    font-family: "Courier New";
    font-size: 22px;
    margin: 8px;
    padding: 8px;
    display: border-box;
    background-color: rgb(134, 134, 134);
}

img {
    height: 350px;
    width: auto;
    margin-bottom: 4px;
}

h1{
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    border-bottom: 1px black solid;
    /* background-color: whitesmoke; */
}

.ingredients-container {
    padding: 5px lightgrey;
    display: block;
    background-color: lightgrey;
    text-align: center;
    border-radius: 10px;

}
.ingredients-container h2{
    text-decoration: underline;
}
.ingredients-container * {
    background-color: lightgrey;
    list-style-type: none;
}


